.screen a {
  display: contents;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container * {
  flex-shrink: 0;
  pointer-events: auto;
}